In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [3]:
train.shape

(318438, 18)

In [4]:
test = pd.read_csv('test.csv')
test.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0

In [5]:
test.shape

(137057, 17)

In [6]:
train.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [7]:
test.isnull().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
dtype: int64

In [8]:
train.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,318438.000000,318438.000000,318438.000000,318438.000000,318325.000000,318438.000000,313906.000000,318438.000000,318438.000000
mean,159219.500000,18.318841,4.771717,3.197627,2.625807,65747.579472,7.251859,3.284099,4880.749392
std,91925.276847,8.633755,3.102535,1.168171,0.873146,37979.936440,4.745266,1.764061,1086.776254
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1800.000000
25%,79610.250000,11.000000,2.000000,2.000000,2.000000,32847.000000,4.000000,2.000000,4186.000000
50%,159219.500000,19.000000,5.000000,3.000000,3.000000,65724.500000,8.000000,3.000000,4741.000000
75%,238828.750000,26.000000,7.000000,4.000000,3.000000,98470.000000,8.000000,4.000000,5409.000000
max,318438.000000,32.000000,13.000000,24.000000,4.000000,131624.000000,38.000000,32.000000,11008.000000

In [9]:
train.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 18 columns):
case_id                              318438 non-null int64
Hospital_code                        318438 non-null int64
Hospital_type_code                   318438 non-null object
City_Code_Hospital                   318438 non-null int64
Hospital_region_code                 318438 non-null object
Available Extra Rooms in Hospital    318438 non-null int64
Department                           318438 non-null object
Ward_Type                            318438 non-null object
Ward_Facility_Code                   318438 non-null object
Bed Grade                            318325 non-null float64
patientid                            318438 non-null int64
City_Code_Patient                    313906 non-null float64
Type of Admission                    318438 non-null object
Severity of Illness                  318438 non-null object
Visitors with Patient                318438 non-null int64
Age                                  318438 non-null object
Admission_Deposit                    318438 non-null float64
Stay                                 318438 non-null object
dtypes: float64(3), int64(6), object(9)
memory usage: 43.7+ MB

In [11]:
train['Department'].value_counts()

gynecology            249486
anesthesia             29649
radiotherapy           28516
TB & Chest disease      9586
surgery                 1201
Name: Department, dtype: int64

In [12]:
train['Hospital_region_code'].value_counts()

X    133336
Y    122428
Z     62674
Name: Hospital_region_code, dtype: int64

In [13]:
train['Severity of Illness'].value_counts()

Moderate    175843
Minor        85872
Extreme      56723
Name: Severity of Illness, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [15]:
train['Hospital_type_code'] = le.fit_transform(train['Hospital_type_code'])
train['Hospital_region_code'] = le.fit_transform(train['Hospital_region_code'])
train['Department'] = le.fit_transform(train['Department'])
train['Ward_Type'] = le.fit_transform(train['Ward_Type'])
train['Ward_Facility_Code'] = le.fit_transform(train['Ward_Facility_Code'])
train['Type of Admission'] = le.fit_transform(train['Type of Admission'])
train['Severity of Illness'] = le.fit_transform(train['Severity of Illness'])

test['Hospital_type_code'] = le.fit_transform(test['Hospital_type_code'])
test['Hospital_region_code'] = le.fit_transform(test['Hospital_region_code'])
test['Department'] = le.fit_transform(test['Department'])
test['Ward_Type'] = le.fit_transform(test['Ward_Type'])
test['Ward_Facility_Code'] = le.fit_transform(test['Ward_Facility_Code'])
test['Type of Admission'] = le.fit_transform(test['Type of Admission'])
test['Severity of Illness'] = le.fit_transform(test['Severity of Illness'])

In [16]:
train.duplicated().sum()

0

In [17]:
train['Bed Grade'] = train['Bed Grade'].fillna(train['Bed Grade'].mean())
test['Bed Grade'] = test['Bed Grade'].fillna(test['Bed Grade'].mean())

In [18]:
train['City_Code_Patient'] = train['City_Code_Patient'].fillna(train['City_Code_Patient'].mean())
test['City_Code_Patient'] = test['City_Code_Patient'].fillna(test['City_Code_Patient'].mean())

In [19]:
def age_fe(x):
    if x == '0-10':
        return 0
    elif x == '11-20':
        return 1
    elif x == '21-30':
        return 2
    elif x == '31-40':
        return 3
    elif x == '41-50':
        return 4
    elif x == '51-60':
        return 5
    elif x == '61-70':
        return 6
    elif x == '71-80':
        return 7
    elif x == '81-90':
        return 8
    else:
        return 9

In [20]:
train['Age'] = train['Age'].apply(age_fe)
test['Age'] = test['Age'].apply(age_fe)

In [21]:
train['Stay'].value_counts()

21-30                 87491
11-20                 78139
31-40                 55159
51-60                 35018
0-10                  23604
41-50                 11743
71-80                 10254
More than 100 Days     6683
81-90                  4838
91-100                 2765
61-70                  2744
Name: Stay, dtype: int64

In [22]:
def stay_fe(x):
    if x == '0-10':
        return 0
    elif x == '11-20':
        return 1
    elif x == '21-30':
        return 2
    elif x == '31-40':
        return 3
    elif x == '41-50':
        return 4
    elif x == '51-60':
        return 5
    elif x == '61-70':
        return 6
    elif x == '71-80':
        return 7
    elif x == '81-90':
        return 8
    elif x == '91-100':
        return 9
    else:
        return 10

In [23]:
train['Stay'] = train['Stay'].apply(stay_fe)

In [24]:
newtrain = train.copy()
newtest = test.copy()

In [25]:
x_train = train.drop('Stay', axis = 1)
y_train = train['Stay']
x_test = test

In [26]:
from sklearn.feature_selection import SelectKBest,chi2
bestFeatures = SelectKBest(score_func=chi2, k = 17)
fit = bestFeatures.fit(x_train, y_train)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x_train.columns)

featureScores = pd.concat([dfcolumns, dfscores], axis = 1)
featureScores.columns = ['Specs','Score']

featureScores.nlargest(14, 'Score')

                                Specs         Score
0                             case_id  1.022762e+08
16                  Admission_Deposit  1.116662e+06
10                          patientid  3.759599e+05
14              Visitors with Patient  1.007976e+05
7                           Ward_Type  5.792834e+03
1                       Hospital_code  3.476280e+03
2                  Hospital_type_code  3.135985e+03
5   Available Extra Rooms in Hospital  2.949505e+03
15                                Age  2.546359e+03
3                  City_Code_Hospital  2.116635e+03
12                  Type of Admission  1.945468e+03
9                           Bed Grade  1.267397e+03
11                  City_Code_Patient  1.184113e+03
8                  Ward_Facility_Code  5.880981e+02

In [27]:
train.columns

Index(['case_id', 'Hospital_code', 'Hospital_type_code', 'City_Code_Hospital',
       'Hospital_region_code', 'Available Extra Rooms in Hospital',
       'Department', 'Ward_Type', 'Ward_Facility_Code', 'Bed Grade',
       'patientid', 'City_Code_Patient', 'Type of Admission',
       'Severity of Illness', 'Visitors with Patient', 'Age',
       'Admission_Deposit', 'Stay'],
      dtype='object')

In [28]:
newtrain = newtrain.drop(['Department', 'case_id', 'patientid'], axis = 1)
newtest = newtest.drop(['Department', 'case_id', 'patientid'], axis = 1)

In [29]:
x_train = newtrain.drop('Stay', axis = 1)
y_train = newtrain['Stay']
x_test = newtest

In [30]:
map1 = {0:'0-10', 1:'11-20', 2:'21-30', 3:'31-40', 4:'41-50', 5:'51-60', 6:'61-70', 7:'71-80', 8:'81-90', 9:'91-100', 10:'More than 100 Days'}

In [31]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier()

In [32]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
y_pred = xgb.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'case_id': test.case_id, 'Stay': np.vectorize(map1.get)(y_pred)})
solution.to_csv('XGB5.csv', index = False)

In [33]:
from lightgbm import LGBMClassifier

lgbm = LGBMClassifier()
y_pred = lgbm.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'case_id': test.case_id, 'Stay': np.vectorize(map1.get)(y_pred)})
solution.to_csv('LGBM5.csv', index = False)